@{
    ViewData["Title"] = "Artists";
}

<div class="d-flex flex-column">

    <div class="flex-grow-1 text-center">
        <h1 class="display-4">Artists</h1>
        <p>List of artists will be displayed here.</p>
    </div>

    <!-- FOOTER -->
    <footer class="border-top footer text-muted mt-auto py-2 bg-white text-center fixed-bottom">
        <div class="container">
            &copy; 2025 - MusicLibrary -
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
</div>
